[project]
	description = device for simple control household appliances
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/dm-urievich
[access "refs/for/refs/*"]
	read = group user/dm-urievich
	push = group user/dm-urievich
	label-Code-Review = -2..+2 group user/dm-urievich
	label-Verified = -1..+1 group user/dm-urievich
	rebase = group user/dm-urievich
	removeReviewer = group user/dm-urievich
	submit = group user/dm-urievich
[access "refs/heads/*"]
	read = group user/dm-urievich
	create = group user/dm-urievich
	push = +force group user/dm-urievich
	pushMerge = group user/dm-urievich
[access "refs/tags/*"]
	push = +force group user/dm-urievich
	pushTag = group user/dm-urievich
	pushSignedTag = group user/dm-urievich
